<html>
    <head>
        <title>New Message</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>New Message</h1>
        <div class="form-container">
            <form method="POST" action="/new">
                <div class="form--input-container">
                    <label for="userName">name:</label>
                    <input type="text" id="userName" name="userName">
                
                    <label for="messageText">message:</label>
                    <input type="text" id="messageText" name="messageText">
                </div>

                <div id="form--submit-btn">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </body>
</html> 