<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h1>Mini Message Board</h1>
        <div>
            <% messages.forEach((message) => { %>
                <%- include('messages/message', { message })  %>
           <% }) %>
        </div>
        <a href="/new">Create a message</a>
        
    </body>
</html>